# Build
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/*
!.vscode/extensions.json
.classpath
.project
.settings/
.factorypath

# Lokale Konfiguration
.env

# OS
.DS_Store
Thumbs.db
